*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button:active, button:hover, button:focus, input:active, input:hover, input:focus, textarea:active, textarea:hover, textarea:focus, select:active, select:hover, select:focus, option:active, option:hover, option:focus {
  outline: 0;
  outline-offset: 0;
}

button:hover, select:hover {
  cursor: pointer;
}

/* font-family: "MyriadArabic - Regular"; */
@font-face {
  font-family: "MyriadArabic";
  src: url("../fonts/MyriadArabic/MyriadArabic-Regular.eot");
  src: url("../fonts/MyriadArabic/MyriadArabic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadArabic/MyriadArabic-Regular.woff") format("woff"), url("../fonts/MyriadArabic/MyriadArabic-Regular.ttf") format("truetype"), url("../fonts/MyriadArabic/MyriadArabic-Regular.svg#MyriadArabic-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* font-family: "MontserratAlternates Regular" */
@font-face {
  font-family: "MontserratAlternates";
  src: url("../fonts/MontserratAlternatesRegular/MontserratAlternates-Regular.eot");
  src: url("../fonts/MontserratAlternatesRegular/MontserratAlternates-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratAlternatesRegular/MontserratAlternates-Regular.woff") format("woff"), url("../fonts/MontserratAlternatesRegular/MontserratAlternates-Regular.ttf") format("truetype"), url("../fonts/MontserratAlternatesRegular/MontserratAlternates-Regular.svg#MontserratAlternates-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* font-family: "MontserratAlternates Black" */
@font-face {
  font-family: "MontserratAlternates";
  src: url("../fonts/MontserratAlternatesBlack/MontserratAlternates-Black.eot");
  src: url("../fonts/MontserratAlternatesBlack/MontserratAlternates-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratAlternatesBlack/MontserratAlternates-Black.woff") format("woff"), url("../fonts/MontserratAlternatesBlack/MontserratAlternates-Black.ttf") format("truetype"), url("../fonts/MontserratAlternatesBlack/MontserratAlternates-Black.svg#MontserratAlternates-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* font-family: "SimplifiedArabic-Bold" */
@font-face {
  font-family: "SimplifiedArabic";
  src: url("../fonts/SimplifiedArabicBold/SimplifiedArabic-Bold.eot");
  src: url("../fonts/SimplifiedArabicBold/SimplifiedArabic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SimplifiedArabicBold/SimplifiedArabic-Bold.woff") format("woff"), url("../fonts/SimplifiedArabicBold/SimplifiedArabic-Bold.ttf") format("truetype"), url("../fonts/SimplifiedArabicBold/SimplifiedArabic-Bold.svg#SimplifiedArabic-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* font-family: "me_quranR3HOQ" */
@font-face {
  font-family: "me_quranR3HOQ";
  src: url("../fonts/MeQuran/me_quranR3HOQ.eot");
  src: url("../fonts/MeQuran/me_quranR3HOQ.eot?#iefix") format("embedded-opentype"), url("../fonts/MeQuran/me_quranR3HOQ.woff") format("woff"), url("../fonts/MeQuran/me_quranR3HOQ.ttf") format("truetype"), url("../fonts/MeQuran/me_quranR3HOQ.svg#me_quranR3HOQ") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

body {
  font-family: "MontserratAlternates", Arial, sans-serif;
}

select {
  font-family: "MontserratAlternates", Arial, sans-serif;
}

.btn {
  position: relative;
  width: 192px;
  height: 192px;
  background-color: #333333;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.btn svg {
  height: 50%;
  margin-right: -22px;
}

body {
  background: #f4f4f4 url(../img/background.jpg) 0 0;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
}

.content__title {
  margin-bottom: 60px;
  font-family: "MontserratAlternates";
  font-size: 48px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 2.88px;
  text-shadow: 0 0 0 #050000;
}

.content__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form__block {
  margin-bottom: 100px;
  -webkit-flex-basis: 33%;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}

.form-block__label {
  display: block;
}

.form-block__select {
  position: relative;
}

.form .label {
  margin-bottom: 23px;
  font-family: "MontserratAlternates";
  font-size: 18px;
  font-weight: 900;
  color: #000000;
  letter-spacing: 1.08px;
}

.form .select {
  padding-left: 5px;
  width: 330px;
  height: 60px;
  -webkit-box-shadow: 0 7px 0 #050000;
  -moz-box-shadow: 0 7px 0 #050000;
  box-shadow: 0 7px 0 #050000;
  background-color: #fff;
  color: #040404;
  font-family: "MontserratAlternates";
  font-size: 24px;
  letter-spacing: 1.44px;
  border: 2px solid #050000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form .select:hover, .form .select:focus {
  background-color: #fcfcfc;
}

.form .select::-ms-expand {
  display: none;
}

.form .select__arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 8%;
  pointer-events: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 20px 14px 0 14px;
  border-color: #050000 transparent transparent transparent;
}

.form .option {
  background-color: #fff;
  color: #040404;
  font-family: "MontserratAlternates";
  font-size: 24px;
  line-height: 2;
  letter-spacing: 1.44px;
}

.header {
  margin-bottom: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "MontserratAlternates";
}

.header__surah, .header__number, .header__arabic {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 72px;
  color: #333333;
}

.header__surah, .header__number {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2.88px;
}

.header__arabic {
  font-family: "SimplifiedArabic";
  font-weight: 700;
  font-size: 76px;
}

.content-text {
  font-family: "me_quranR3HOQ";
  font-size: 100px;
  font-weight: 400;
  color: #777;
}

.content-text_active {
  color: #000;
}

.content-text_active .content-text_God-name {
  color: #f91807;
}

.content-text_God-name {
  color: #f44336;
}

@media (max-width: 1199px) {
  .form .select {
    width: 290px;
    font-size: 20px;
  }
  .form .select__arrow {
    border-width: 15px 9px 0 9px;
  }
  .form .option {
    font-size: 20px;
    line-height: 1;
  }
}

/* ==============================   992 ================================= */
@media (max-width: 991px) {
  .content__title {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 56px;
  }
  .content__form {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .form {
    /* Button */
  }
  .form__block {
    margin-bottom: 60px;
  }
  .form .label {
    margin-bottom: 13px;
  }
  .form .select {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
  .form .select__arrow {
    margin-top: -5px;
    right: 7%;
    border-width: 12px 9px 0 9px;
  }
  .form .btn {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
  }
  /* Play.html */
  .header {
    margin-bottom: 150px;
  }
  .content-text {
    font-size: 70px;
  }
}

/* ============================== 768 ================================= */
@media (max-width: 767px) {
  .main {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .form__block {
    margin-bottom: 30px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .form__block:last-of-type {
    margin-bottom: 50px;
  }
  .form .select {
    width: 330px;
    height: 60px;
    padding-left: 5px;
    font-size: 24px;
  }
  .form .select__arrow {
    margin-top: -8px;
    right: 21%;
    border-width: 20px 14px 0 14px;
  }
  /* Play.html */
  .header {
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__surah, .header__number, .header__arabic {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    line-height: 42px;
  }
  .header__surah, .header__number {
    font-size: 33px;
  }
  .header__arabic {
    font-size: 42px;
  }
  .content-text {
    font-size: 50px;
  }
}

/* ============================== 576 ================================= */
@media (max-width: 575px) {
  .main {
    height: 100%;
  }
  .content__title {
    font-size: 24px;
    line-height: 32px;
  }
  .form {
    /* Button */
  }
  .form__block {
    margin-bottom: 20px;
  }
  .form__block:last-of-type {
    margin-bottom: 30px;
  }
  .form .select {
    width: 290px;
    height: 50px;
    font-size: 18px;
  }
  .form .select__arrow {
    margin-top: -5px;
    right: -webkit-calc(50% - 130px);
    right: -moz-calc(50% - 130px);
    right: calc(50% - 130px);
    border-width: 12px 9px 0 9px;
  }
  .form .btn {
    width: 100px;
    height: 100px;
  }
  .form .btn svg {
    margin-right: -15px;
  }
  /* Play.html */
  .header {
    margin-bottom: 50px;
  }
  .header__surah, .header__number, .header__arabic {
    line-height: 30px;
    margin-bottom: 5px;
  }
  .header__surah, .header__number {
    font-size: 22px;
  }
  .header__arabic {
    font-size: 30px;
  }
  .content-text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
